.articles{
    margin-top: 15px;
}

.article-body{
    font-size: 14pt;
    margin: 5px 0;
}

.article-title{
    font-size: 14pt;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-variant: small-caps;
    margin-right: 10px;
}

.article-main{
    display: inline-block;
    width: 80%;
}

.article-date{
    display: inline-block;
    width: 20%;
    color: grey;
}

.article-views{
    color: grey;
}
