.extension, .tag, .author{
    font-family: source-sans-pro;

    .downloads{
        float: right;

        .muted{
            color: gray;
            font-size: 11px;
            width: 30px;
            display: inline-block;
        }
    }

    .position{
        margin-right: 4px;
        font-size: 10pt;
        font-size: 10pt;
        width: 14px;
        text-align: right;
        display: inline-block;
    }
}

.install{
    display: inline-block;
    margin: 5px 5px 5px 25px;
    font-size: 15pt;
    background: #2098f5;
    padding: 3px 12px;
    color: #fff;
    text-shadow: 1px 1px 1px #0a70bf;
    cursor: pointer;
    border-radius: 2px
}

.install:hover{
    background: rgb(10, 112, 191);
    color: white;
    text-decoration: none;
}

.extension-adv{
    margin: 0 auto 20px auto;
    width: 950px;
    text-align: center;
    padding: 4px 0;
    box-sizing: border-box;
    background: rgb(222, 233, 241);
    font-size: 14pt;
}

.search{
    margin: 0 auto 5px;
    width: 950px;
    text-align: center;
    padding: 4px 12px;
    box-sizing: border-box;
    background: white;


    input{
        width: 100%;
        box-sizing: border-box;
        border: none;
        font-size: 14pt;
        color: gray;
        outline: none;
    }
}

#onlineWidget{
    position: relative;
    overflow-x: hidden;

    .progress{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 4px;

        .progress-inner{
            height: 4px;
            background: #2980b9;
        }
    }

    .onlineValue{
        transition: 0.35s color ease-out;

        &.down{
            color: #e74c3c;
        }

        &.up{
            color: #2ecc71;
        }
    }
}

.last-article{
    margin: 0 auto 5px;
    width: 950px;
    text-align: center;
    padding: 4px 4px;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.25s all;
    color: black;

    &:hover{
        background-color: #2980b9;
        color: white;
        text-decoration: none;
    }

    .letter{
        font-weight: 900;
        font-size: 20pt;
        width: 120px;
        height: 36px;
        background-color: #2980b9;
        color: white;
    }

    .views{
        padding-right: 10px;
    }

    div {
        font-size: 20pt;
    }
}
