.query{
    margin: 10px 0 0.7em 0;
    background: white;
    border-radius: 3px;
    padding: 1.5em;

    .name{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 7px;
    }

    .version{
        border-radius: 3px;
        background: #3f3f3f;
        color: #fff;
        padding: 1px 6px;
        margin-left: 8px;
    }

    .stars, .forks, .downloads{
        margin-left: 8px;
        &:before{
            margin-right: 2px;
        }
    }

    .description{
        color: #8a8b8c;
        margin-top: 1em;

        &:first-letter{
            text-transform: capitalize;
        }
    }
}

.overal{
    margin-bottom: 2em;
    text-align: center;

    .stars, .forks, .downloads{
        margin-left: 8px;
        &:before{
            margin-right: 2px;
        }
    }
}
