extend layout

block content
    div.widget-medium
        p.details
            span Extensions Rating for Brackets grew out of the need for a way to easily acquire statistical information for my extension,&nbsp;
            a(href="/extension/dnbard.documents-toolbar") Document Toolbar
            span . This server supports another Bracket's extension -&nbsp;
            a(href="/extension/dnbard.extensions-rating") Extension Rating
            span &nbsp;with information that is gathered from official Brackets registry. Today this server delivers around&nbsp;
            span.transferedData #{transferedFormatted}
            span &nbsp;#{transferedType} of compressed json data a month.
        p.details These extensions are completely free to use, the code is open source, and I provide hosting for this website and all assosiated web services.
    div.widget
        p.justify.details
            span If you‘ve found this website or my extensions useful, feel free to send me an email or a&nbsp;
            a(href="https://github.com/dnbard/brackets-extension-rating", target="_blank") GitHub star
            span .
