extend layout

block head
    meta(name='keywords', content='brackets javascript IDE extensions')
    meta(name='description', content='Brackets IDE extensions')

block content
    div.widget-medium
        p.details
            span Extensions Rating for Brackets grew out of the need for a way to easily acquire statistical information for my extension,&nbsp;
            a(href="/extension/dnbard.documents-toolbar") Documents Toolbar
            span . This server supports another Bracket's extension -&nbsp;
            a(href="/extension/dnbard.extensions-rating") Extensions Rating
            span &nbsp;with information that is gathered from official Brackets registry. Today this server delivers around&nbsp;
            span.transferedData #{transferedFormatted}
            span &nbsp;#{transferedType} of compressed json data a month.
        p.details These extensions are completely free to use, the code is open source, and I provide hosting for this website and all assosiated web services.
        p.details
            span Website version is&nbsp;
            span.bold v#{version}
            span .
    div.widget
        p.details
            div.justify
                span If you‘ve found this website or my extensions useful, feel free to send me an email to&nbsp;
                a(href="mailto:dnbard@gmail.com?Subject=Message%20from%20brackets.dnbard.com") dnbard@gmail.com
                span &nbsp; or give a&nbsp;
                a(href="https://github.com/dnbard/brackets-extension-rating", target="_blank") GitHub star
                span &nbsp;to this project.
            div.center
                a(href="https://github.com/dnbard", target="_blank", title="dnbard at Github").about-link.icon-fontawesome-webfont
                a(href="https://www.facebook.com/oleksandr.bardanov", target="_blank", title="at the Facebook").about-link.icon-facebook-square
                a(href="https://ua.linkedin.com/in/dnbard/", target="_blank", title="Linkedin profile").about-link.icon-linkedin-square
