extend layout

block content
    block article
    
    .center
        script(async="true", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        ins.adsbygoogle(style="display:inline-block;width:728px;height:90px", data-ad-client="ca-pub-0576818987310731", data-ad-slot="5284568289")
        script (adsbygoogle = window.adsbygoogle || []).push({});
    div#disqus_thread
        script(type="text/javascript") var disqus_shortname = 'bracketsextensions'; (function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();