extend layout

block content
    h2.center
        span Extension
        span.bold &nbsp;#{id}&nbsp;
        span not found

    div.center
        div Looks like it's not working out with this page.
        div
            span Sorry about that, but we hear that&nbsp;
            a(href="/") the Home page
            span &nbsp;is a sure thing!

