extend layout

block head
    meta(name='keywords', content='brackets javascript CSS HTML IDE extension plugin')
    meta(name='description', content='Brackets IDE extensions')

block content
    div.search
        input.search-input(placeholder="Search for extension")

    div.center
        div.widget-big.highlight.no-height
            h2.center &nbsp;Info
            div.separator
            p
                span Hello. Unfortunatelly, recently compose.io declined to provide the database services for this website. I'm working on migrations, coding and reverting everything that was lost at the moment. Some functionality already restored and everything else are going to back during next several days.


block scripts
    script(type='text/javascript', src='../js/index.js')
