doctype html
html
    head
        title #{title} - Brackets Extensions
        link(rel='stylesheet', href='/style.min.css')
    body
        header
            h1 Brackets Extensions
        .container
            .main-content
                block content
            .sidebar
                block sidebar
        footer
            p.center Made with ♥ and JavaScript
