doctype html
html
    head
        title #{title} - Brackets Extensions
        link(rel='stylesheet', href='/style.min.css')
        script(type='text/javascript', src='http://cdn.jsdelivr.net/momentjs/2.8.3/moment.min.js')
        script(type='text/javascript', src='http://cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js')
    body
        header
            h1
                a(href="/") Brackets Extensions
            ul.buttons
                li
                    a(href="/") Home
                li
                    a(href="/blog") Blog
                li
                    a(href="/about") About
        .container
            .main-content
                block content
            .sidebar
                block sidebar

        footer
            p.center Made with ♥ and JavaScript

        block scripts
