extend layout

block content
    div.user-page
        img(src="#{user.avatar_url}&s=32")
        span.name #{user.name}

    div
        span Hello! Thanks for you interest in Brackets Extensions Project. This site is currently under construction and some features wont work. If you have propositions or bug reports then please post them
        a(href="https://github.com/dnbard/brackets-extensions/issues") at this board
        span .
