extends ../article

block article
    div.article-body
        p This is a list of Brackets Extensions that I'm using every day:
        h2
            a(href="/extension/zaggino.brackets-git") 1. Brackets Git
        img(src="/images/git-logo.png").image-left
        p Git is a open source distributed version control system where you can store, contribute and collaborate on projects, scripts etc. from around the world.
        p Brackets Git is easily the best among similar extensions(basicaly this is best Git extension I've ever seen). It has all the git features you’ll need. You can easily commit changes from within Brackets itself, push and pull changes with a single click, view file history and total commit history as well. If you’re good with Git, you won’t find any problems with this Extension.
        p Note: To use Brackets Git you need to have Git installed on your computer(for your OS). After installing the extension, you may need to enter the path to your Git executable file (if it is not in the default path).
        h2
            a(href="/extension/brackets-beautify") 2. Beautify
        p Beautify makes your code look good. It fixes spaces, indentation, and lines. Making your files more readable can be time-consuming although following a good practice of organised code is recommended the best practice. Their may be a time when you need a little help and beautify does the job perfectly. Not only does it give you a handy shortcut key to beautify those files Cmd-Shift-L(Mac) / Ctrl-Shift-L(Win) it saves you from having to use an external beautifier on the web.
        img(src="/images/beautify.gif").image-center
        h2
            a(href="/extension/ivogabe.icons") 3. Brackets Icons
        p Brackets Icons adds colorful icons, based on file type, to all files listed in the side bar. It has icons for most file types.
        img(src="/images/brackets-icons.jpg").image-center
        h2
            a(href="/extension/dnbard.documents-toolbar") 4. Documents Toolbar
        p The Documents Toolbar is an extension that adds tabs to Brackets. All files which are in the ‘active’ section of the sidebar show up as tabs in this extension. You can hide the sidebar as well, and use only the Documents Toolbar for a nice interface.
        img(src="/images/document-toolbar.png").image-center
        h2
            a(href="/extension/dnbard.extensions-rating") 5. Extension Rating
        p With popularity more extensions are being created, making it very difficult and time-consuming to choose ones that may be beneficial. Extensions rating displays extension statistics based on downloads and GitHub stats. Allows you to sort extensions, displays avatars from Github, displays useful statistics including downloads, stars, forks and more. With this extensions it’s easy to see the most trending and popular extensions out there.
        img(src="/images/extensions-rating.png").image-center
        h2
            a(href="/extension/dnbard.extensions-toolbar") 6. Extensions Toolbar Reposition
        p Moves the toolbar to the bottom of the editor, removes a bit of space so the scrollbar is flush with the right side and allows you to hide any extension icons.
        img(src="/images/et-reposition.png").image-center
        h2
            a(href="/extension/martypenner.autosave-files-on-window-blur") 7. Autosave Files on Window Blur
        p Autosave all open files when switching applications, in the style of PHPStorm/WebStorm. You will never forget to save that file again!
        h2
            a(href="/extension/gruehle.markdown-preview") 8. Markdown Preview
        p We all love Brackets Live Preview feature for HTML documents. This extension implements live preview for Markdown(*.md) documents. Now you can edit the README.md for your new open-source project and see the changes in real-time!
        h2
            a(href="/extension/brackets-bower") 9. Brackets Bower
        p Manage your application's front-end dependencies using Bower. You can install and prune dependencies using the bower.json file and configure Bower through .bowerrc. Also, quickly install front-end packages by hitting Ctrl/Cmd-Alt-B, then start typing the name of a package. Once you see the package you want, hit Enter and the package will be installed into your project folder.
        p NOTE: To install some packages, you must have Git installed.
        h2
            a(href="/extension/angularui.angularjs") 10. AngularJS for Brackets
        p An official Angular extension for Brackets. Something you must have if your application are using AngularJS framework. Watch this screencat to know all details from the first hands:
        iframe(width="560", height="315", src="https://www.youtube.com/embed/5ABAlfjkj3Q", frameborder="0", allowfullscreen="true").image-center
        
        
        