extends ../article

block article
    h1.article-header How To Install Brackets Extension
    div.article-body
        p Select the extension icon in the right border of Brackets
        p.center
            img(src="/images/extensions1.png")
        p The Extensions window will open where you can search for available extensions or themes. You can also update or remove installed extensions.
        p.center
            img(src="/images/extensions2.png")